body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url("../Media/BlurryLoadingPicture1.jpg") no-repeat center center/cover;
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /*behind the loading sign*/
    filter: blur(0px);
}

.loading-text {
     font-size: 50px;
     color: white;
}
